<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pl_ftk">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.camera2"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/flashlight"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flashlight"
        android:supportsRtl="true"
        android:theme="@style/Theme.PLFTK">
        <activity android:name=".HomeScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>